@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1652418764758') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lianxiwomen:before {
  content: "\e64a";
}

.icon-denglu:before {
  content: "\e621";
}

.icon-cz-bmdj:before {
  content: "\e72c";
}

.icon-chanpinjieshao:before {
  content: "\e661";
}

.icon-zhangcheng:before {
  content: "\ee19";
}

